#parse("/static/vm/public/head.vm")
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Cron任务调度服务
                </h1>
                <small>

                </small>
            </div>
        </div>
    </div>
</div>

#parse("/static/vm/public/foot.vm")
