<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peaceful.cron.server.modal.CronDispatchMapper">

    <select id="select" resultType="com.peaceful.cron.server.modal.CronDispatch">
        SELECT * FROM cron_dispatch
        <where>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="status != null">
                and `status` = #{status}
            </if>
            <if test="dispatchTimeEnd != null">
                AND `dispatch_time` &lt;= #{dispatchTimeEnd}
            </if>
            <if test="dispatchTimeStart != null">
                AND `dispatch_time` &gt;= #{dispatchTimeStart}
            </if>
            <if test="completeTimeEnd != null">
                AND `completeTime` &lt;= #{completeTimeEnd} ,
            </if>
            <if test="completeTimeStart != null">
                AND `completeTime` &gt;= #{completeTimeStart} ,
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <update id="update">
        UPDATE cron_dispatch
        <set>
            <if test="status != null">
                `status` = #{status} ,
            </if>
            <if test="completeTime != null">
                `complete_time` = #{completeTime} ,
            </if>
        </set>
        WHERE `id` = #{id}
    </update>
</mapper>


