<configuration>

    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <file>error.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="warnFile" class="ch.qos.logback.core.FileAppender">
        <file>warn.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="asyncErrorFile" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="errorFile"/>
    </appender>

    <appender name="asyncWarnFile" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="warnFile"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="asyncErrorFile"/>
        <appender-ref ref="asyncWarnFile"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>