<table class="table table-bordered table-hover table-condensed animated fadeInRight">
    <thead>
    <th>Job名称</th>
    <th>Cron表达式</th>
    <th>预计下次执行时间</th>
    <th>当前运行状态</th>
    <th>-</th>
    <th>-</th>
    </thead>
    <tbody>
        #foreach($cronJob in $pageInfo.list)
        <tr>
            <td>$!cronJob.name</td>
            <td>$!cronJob.cronExpression</td>
            <td>$!cronJob.nextExecutionTime</td>
            <td>
                #if($!cronJob.status == 'INIT')
                    <span class="label label-default">$!cronJob.status.desc</span>
                #elseif($!cronJob.status == 'WAIT')
                    <span class="label label-warning">$!cronJob.status.desc</span>
                #elseif($!cronJob.status == 'START')
                    <span class="label label-primary">$!cronJob.status.desc</span>
                #elseif($!cronJob.status == 'SUSPEND')
                    <span class="label label-info">$!cronJob.status.desc</span>
                #end
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle" type="button"
                       id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="true">
                        操作
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">立即执行</a></li>
                        <li><a href="#">暂停调度</a></li>
                    </ul>
                </div>
            </td>
            <td>
                <a href="/cron/dispatch/list?name=$!cronJob.name">运行记录</a>
            </td>
        </tr>
        #end

    </tbody>

</table>
#if($!pageInfo.total)
<div class="row">
    <div class="col-sm-12">
        <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
            每页显示$!{pageInfo.size}条，共$!{pageInfo.total}条，共$!{pageInfo.pages}页
        </div>
    </div>
    <div class="col-sm-12">

        <ul class="pagination">
            #if($pageInfo.hasPreviousPage)
                <li class="pageNavMenuT">
                    <a href="javascript:void(0)" aria-label="Previous" value="$!{pageInfo.prePage}>
                        <span aria-hidden=" true">&laquo;</span>
                    </a>
                </li>
            #end

            #foreach($num in $pageInfo.navigatepageNums)
                #if($pageInfo.pageNum == $num)
                    <li class="active pageNavMenu"><a href="javascript:void(0)">$num</a></li>
                #else
                    <li class="pageNavMenu"><a href="javascript:void(0)">$num</a></li>
                #end

            #end

            #if($pageInfo.hasNextPage)
                <li>
                    <a href="javascript:void(0)" aria-label="Next" value="$!{pageInfo.nextPage}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            #end
        </ul>
    </div>
</div>
#end