<table class="table table-striped">
    <thead>
    <tr>
        <th>编号</th>
        <th>调度状态</th>
        <th>执行结果</th>
        <th>执行机器</th>
        <th>计划执行时间</th>
        <th>实际执行时间</th>
        <th>执行结束时间</th>
    </tr>
    </thead>
    <tbody>
        #foreach($cronDispatch in $pageInfo.list)
        <tr>
            <td>$!cronDispatch.id</td>
            <td>
                #if($!cronDispatch.status == 'INIT')
                    <span class="label label-default">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'START')
                    <span class="label label-warning">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'DISPATCH_ERROR')
                    <span class="label label-danger">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'JOB_SUCCESS')
                    <span class="label label-primary">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'JOB_EXCEPTION')
                    <span class="label label-danger">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'JOB_TIMEOUT')
                    <span class="label label-warning">$!cronDispatch.status.desc</span>
                #elseif($!cronDispatch.status == 'CLIENT_CONNECTION_ERROR')
                    <span class="label label-danger">$!cronDispatch.status.desc</span>
                #else
                    $!cronDispatch.status.desc
                #end
            </td>
            <td>$!cronDispatch.ackMessage</td>
            <td>$!cronDispatch.ipPort</td>
            <td>$!cronDispatch.planDispatchTime</td>
            <td>$!cronDispatch.realDispatchTime</td>
            <td>$!cronDispatch.completeTime</td>
        </tr>
        #end
    </tbody>
</table>