#parse("/static/vm/public/head.vm")

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">运行记录<small class="text-navy"> $!jobName</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>执行状态分布</h5>
            </div>
            <div class="ibox-content">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>最近5次执行记录</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                #parse("/static/vm/cron/cronDispatchListAjax.vm")
            </div>resultBody
        </div>
    </div>
</div>
#parse("/static/vm/public/foot.vm")
<script src="/js/plugins/chart/chart-2.4.min.js"></script>
<script src="/js/plugins/chart/util.js"></script>
<script>
    var data = {
        datasets: [{
            data: [$!failCount, $!sucCount],
            backgroundColor: [
                window.chartColors.red,
                window.chartColors.green,
            ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            '错误',
            '成功',
        ]
    };

    var ctx = document.getElementById('myChart').getContext('2d');

    // For a pie chart
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
    });

</script>