#parse("/static/vm/public/head.vm")

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">调度中心</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-inline">
            <div class="form-group">
                <label for="serviceName">服务标识</label>
                <input type="text" class="form-control" id="serviceName"
                       placeholder="选择服务所属服务">
            </div>
            <div class="form-group">
                <label for="jobName">Job名称</label>
                <input type="text" class="form-control" id="jobName"
                       placeholder="不支持模糊搜索">
            </div>
            <button class="btn btn-primary" id="searchMenu">查找</button>
        </div>
    </div>
</div>
<br>
<div class="row" id="resultBody">
    <div class="col-lg-12">
        #parse("/static/vm/cron/cronJobListAjax.vm")
    </div>
</div>

#parse("/static/vm/public/foot.vm")
<script src="/js/cron/cronJobList.js"></script>