#parse("/static/vm/public/head.vm")

<div class="row">
    <div class="col-lg-12 border-bottom">
        <h2>任务列表</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br>
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="jobName"
                       placeholder="Job名称,不支持模糊搜索">
            </div>
            <button class="btn btn-primary" id="searchMenu">查找</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12 white-bg" id="resultBody">
        #parse("/static/vm/cron/cronJobListAjax.vm")
    </div>
</div>

#parse("/static/vm/public/foot.vm")
<script src="/js/cron/cronJobList.js"></script>